<AuInput
  @icon="search"
  @width="block"
  @value={{this.search}}
  {{on 'input' this.setSearch}}
/>

{{#if this.results.isRunning}}
  <AuLoader >
    Loading...
  </AuLoader>
{{else if this.results.value}}
  <ul>
    {{#each this.results.value as |result|}}
      <li>
        <AuCard
          @title={{result.naam}}
          as |card|
        >
          <card.header>
            <AuHeading @level="3" @skin="3">
              {{result.naam}}
            </AuHeading>
          </card.header>
          <card.content>
            <p>
              {{result.korte_beschrijving}}
            </p>
          </card.content>
          <card.footer>
            <AuLink @route="details" @model={{result.id}} @skin="button">Select</AuLink>
          </card.footer>
        </AuCard>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Search to find your monument.</p>
{{/if}}